@model IEnumerable<ClassRoomApplication.Models.Materie>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/background.css" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaterieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaterieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaterieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
